@media screen and (max-width:576px) {

  .navigation,
  .nav-contant {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .survices-container {
    flex-direction: column;
    margin: 30px auto;
  }

  .survices-contant {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
  }

  .survices-img {
    width: 100%;
  }

  .survices-img img {
    width: 364px;
  }

  .gallary-container {
    grid-template-columns: 1fr;
  }

  .gallary-head {
    font-size: 2rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-contant {
    margin-top: 10px;
  }

  .img2 {
    position: absolute;
    bottom: -55px;
    left: -35px;
    width: 170px;
    height: 170px;
  }

  .about-img {
    width: 100%;
  }

  .about-contant {
    width: 100%;
    text-align: center;
  }

  .hero-contant {
    text-align: center;
    width: 100%;
  }

  .hero-section {
    align-items: center;
    flex-direction: column-reverse;
    /* justify-content: center; */

  }

  .hero-img {
    width: 354px;
  }

  .hero-bg-img {
    width: 100%;
    height: 40%;
  }

  /* joni part  */
  .joni-img {
    width: 100%;
  }

  .joni-container {
    flex-direction: column-reverse;
  }

  .joni-contant {
    width: 100%;
    text-align: center;
  }

  .img3 {
    position: relative;
  }

  .img4 {
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: -35px;
    right: -35px;
  }

  /* sunny part  */
  .sunny-container {
    flex-direction: column;
  }

  .sunny-contant {
    max-width: 100%;
  }

  .sunny-img-part {
    width: 338px;
  }

  .btn {
    justify-content: center;
  }

  /* mia part  */
  .mia-box1 {
    grid-template-columns: 1fr;
  }

  .mia-box2 {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .footer-box1 {
    /* flex-wrap: wrap; */
  }

  .footer-box1 img {
    width: 50px;
  }

  .footer-box2 p {
    display: flex;
    font-size: 18px;
    gap: 5px;
    flex-wrap: wrap;
  }

  .footer-box3 {
    flex-wrap: wrap;
  }

  .footer-box4 {
    flex-wrap: wrap;
  }

  .footer-box5 {
    flex-wrap: wrap;
  }
}

@media screen and (min-width:577px) and (max-width:992px) {

  .navigation,
  .nav-contant {
    flex-direction: column;
    align-items: center;
  }

  .nav-contant {
    width: 50%;
  }

  .gallary-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-container {
    flex-direction: column;
  }

  .about-contant {
    margin-top: 10px;
  }

  .img2 {
    position: absolute;
    bottom: -55px;
    left: -35px;
    width: 170px;
    height: 170px;
  }

  .about-img {
    width: 100%;
  }

  .about-contant {
    width: 100%;
    text-align: center;
  }

  .hero-contant {
    text-align: center;
    width: 100%;
  }

  .hero-section {
    flex-direction: column-reverse;
    gap: 10px;

  }

  .hero-img {
    width: 354px;
  }

  .hero-bg-img {
    width: 100%;
    height: 50%;
  }

  /* joni part  */
  .joni-img {
    width: 100%;
  }

  .joni-container {
    flex-direction: column-reverse;
  }

  .joni-contant {
    width: 100%;
    text-align: center;
  }

  .img3 {
    position: relative;
  }

  .img4 {
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: -35px;
    right: -35px;
  }

  /* sunny- part  */
  .sunny-container {
    flex-direction: column;
  }

  .sunny-contant {
    max-width: 100%;
  }

  .sunny-img-part {
    width: 338px;
  }

  .btn {
    justify-content: center;
  }

  .mia-box1 {
    grid-template-columns: 1fr;
  }

  .mia-box2 {
    grid-template-columns: 1fr;
    margin: 0;
  }
}