*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navigation{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}
.nav-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-logo h1{
   text-align: center;
font-size: 45px;
font-weight: 700;
}
.nav-head{
    color: #ba5abf;
}
.nav-icon{
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 4px;
    color: #FFF;
    background-color: #e3e2e5;
    border-radius: 5px;
}
.nav-contant a:hover{
    color: red;
    text-decoration: underline;
}
.nav-icon img{
    width: 30px;
}
.nav-contant{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-contant a{
    text-decoration: none;
    font-size: 18px;
    color: #3C354F;
}
     /* hero section  */
.hero-section{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
}
.hero-img{
    max-width: 32rem;
}
.hero-bg-img{
   background-image: url(../images/Group\ 14.png);
   background-position: 100% 100%;
   background-size: cover;
   position: absolute;
   width: 55%;
   height: 100%;
}
.hero-contant{
    padding: 30px;
}
.hero-contant h2{
    font-size: 2.2rem;
    font-weight: 600;
    color: #0B0223;
    font-family: Work Sans;
}
.hero-contant h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 3rem;
}
.hero-contant p{
    color: #534C64;
    padding: 10px 0;
    font-weight: 500;
}
.btn-primary{
    background-color: #ff42a5;
    padding: 14px 20px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    margin-top: 15px;
}
.btn-primary1{
    background-color: #4ec5f7;
    padding: 14px 20px;
    color: white;
    border-radius: 10px;
    border: none;
}
.hero-contant i{
    margin-right: 5px;
}
.hide{
    display: none;
}
     /* survices part  */
.survices-container{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    text-align: right;
}
.survices{
    background-color: #fff9fc;

}
.survices-img{
    width: 50%;
}
.survices-img img{
    max-width: 100%;
}
.survices-contant{
    width: 40%;
}
.survices-contant h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.survices-contant p{
    padding: 10px 0;
    font-weight: 500;
    color: #534C64;
}
.survices-contant h3{
    color: #26232e;
}
     /* gallary part  */
.gallary-head{
    text-align: center;
    padding: 20px 0;
    font-size: 3rem;
    font-weight: 600;
    color: #0B0223;
}
.gallary-para{
    text-align: center;
    padding-bottom: 20px;
    color: #534C64;
    font-weight: 400;
}
.gallary-box img{
    width: 100%;
}
.gallary-container{
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.gallary-box p{
    color: #534C64;
font-family: Work Sans;
font-weight: 400;
padding: 10px 0;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
     /* about part  */
.about-container{
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    text-align: right;
    align-items: center;
}
.about-contant{
    width: 30%;
}
.about-contant h1{
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-contant p{
    color: #534C64;
    padding: 10px 0;
    text-align: center;
    font-weight: 400;
}
.about-img{
  width: 50%;
  position: relative;
}
 .img1{
    width: 100%;
}
.img2{
    position: absolute;
    bottom: -79px;
    left: -156px;
}
.play{
   color: #e24bbf;
}
   /* joni part  */
.joni-container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    align-items: center;
    margin-top: 100px;
}
.img3{
    width: 100%;
}
.img4{
    position: absolute;
    bottom: -80px;
    right: -149px;
}
.joni-img{
    position: relative;
    width: 50%;
}
.joni-contant{
    width: 50%;
}
.joni-contant{
    text-align: right;
    width: 30%;
}
.joni-contant h1{
    font-size: 3rem;
    color: #0B0223;
    font-weight: 700;
}
.joni-contant p{
    color: #534C64;
font-family: Work Sans;
  font-weight: 400;
  padding: 15px 0;
}
.games{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
            /* sunny part  */
.sunny{

    background-color: #ff42a5;
    color: #FFF;
}
.sunny-container{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    gap: 100px;
    padding: 30px 0;
}
.sunny-contant{
   max-width: 50%;
}
.sunny-img-part{
    width: 50%;
}
.sunny-img{
    width: 100%;
}
.sunny-part{
    display: flex;
    justify-content: space-between;
}
.sunny-part2{
    text-align: right;
}
.sunny-contant h1{
    color: #FFF;
font-family: Work Sans;
font-size: 3rem;
}
.sunny-contant p{
  padding: 10px 0;
}
.btn{
    padding: 6px 20px;
    background-color: #FFF;
    border: none;
    border-radius: 20px;
    color: #ff42a5;
    margin-top: 30px;
}
             /* mia part  */
.mia{
    background-color: #fff9fc;
}
.mia-container{
    max-width: 80vw;
    margin: auto;
    padding: 50px 0;
}
.box{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 10px;
    background-color: #ffffff;
    color: black;
    border-radius: 40px ;
  
}
.mia-box1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.mia-box2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 30px;
    margin: 0 49px;
}
           /* footer part  */
footer{
    background-color: #0b0223;
    margin: 50px 0 0 0;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    color: #FFF;
}
.footer-box1{
 display: flex; 
 gap: 30px;  
 justify-content: center;
 flex-wrap: wrap;
}
.footer-box2{
display: flex;
gap: 60px;
justify-content: center;
padding: 60px 5px;
flex-wrap: wrap;
}
.footer-box3{
display: flex;
gap: 60px;
justify-content: center;
margin-bottom: 60px;
}
.footer-box4{
display: flex;
gap: 60px;
justify-content: center;
}
.footer-box5{
display: flex;
justify-content: center;
padding-top: 30px;
}
.footer-box3 img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
